body {
    font-family: sans-serif;
}

#titleScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#titleScreen[hidden] {
    display: none;
}

#title {
    position: absolute;
    top: 15vh;
    font-size: 2rem;
}

button {
    background: black;
    color: white;
    border: 2px solid #333;
    border-radius: 0.25rem;
    padding: 0.2rem;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.bigButton {
    padding: 1rem;
}

#welcomeScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcomeScreen[hidden] {
    display: none;
}

.catBox {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background: white;
    width: 20vw;
    border-radius: 0.1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.catGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#catList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20vw;
    height: calc(100vh - 1rem);
    overflow-y: scroll;
}

#game {
    display: flex;
    gap: 1rem;
    background: #ddd;
}

#game[hidden] {
    display: none;
}

#rightSide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    height: calc(100vh - 2rem);
    overflow-y: scroll;
}

#informationList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    height: calc(100vh - 10rem);
    overflow-y: scroll;
}

#topBar {
    display: flex;
    gap: 1rem;
}
#resourceGain, #inventory, #toolsBox, #seasonBox, #landDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 0.1rem;
    background: white;
    padding: 0 1rem;
    height: 8rem;
    box-sizing: border-box;
    flex-grow: 1;
}

#statsAndInventory {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#game #statsAndInventory #resourceGain {
    width: 15vw;
}

#game #statsAndInventory #inventory {
    width: 15vw;
    height: calc(100vh - 10rem);
    padding: 1rem;
    overflow-y: scroll;
    align-items: start;
    justify-content: start;
}

#inventory > div {
    display: flex;
    flex-direction: column;
}

#toolsRow {
    display: flex;
    gap: 1rem;
}

.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

#raid {
    border: 2px solid #330000;
    background: #eeaaaa;
    border-radius: 0.1rem;
    padding: 1rem;
}
#recruitmentDiv, #craftingDiv {
    border-radius: 0.1rem;
    padding: 1rem;
    position: relative;
}

#recruitmentDiv {
    border: 2px solid darkblue;
    background: #ddddff;
}
#craftingDiv {
    border: 2px solid darkgoldenrod;
    background: #ffffdd;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
  

#foodStock, #researchPoints, .inventoryItemAmount, #comfort {
    transition: --num 1s linear;
    counter-reset: num var(--num);
}
#foodStock::after, #researchPoints::after, .inventoryItemAmount::after, #comfort::after {
    content: counter(num);
    -webkit-user-select: text;
    user-select: text;
}

#gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameOver[hidden] {
    display: none;
}


#technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 0.1rem;
    background: white;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
    width: 20vw;
}

#technologyList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#technologyList > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background: white;
    border-radius: 0.1rem;
    padding: 1rem;
    box-sizing: border-box;
}
#technologyList > div[hidden] {
    display: none;
}

#technologyList > div.wood {
    border-color: #783a00;
    background: #cca784;
}

#technologyList > div.stone {
    border-color: #555;
    background: #eee;
}

#seasonBox.spring {
    border-color: #006633;
    background: #aaffbb;
}

#seasonBox.summer {
    border-color: #666600;
    background: #ffffdd;
}

#seasonBox.autumn {
    border-color: #663300;
    background: #ffddaa;
}

#seasonBox.winter {
    border-color: #000066;
    background: #ddddff;
}

#landDetails {
    border-color: #006600;
    background: #ddffdd;
}

#toolsBox {
    border-color: #666;
    background: #ccc;
}

#technology {
    border-color: #444;
    background: #aaa;
}

#resourceGain {
    border-color: #663300;
    background: #ffdd99;
}

#inventory {
    border-color: #336600;
    background: #ddff99;
}